__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
.venv/
.env
.envrc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
site/
.cache/
.idea/
.vscode/
.DS_Store
*.Zone.Identifier
